body {
  background-color: #4e6e81;
}
input {
  display: block;
  margin-bottom: 5px;
  background-color: #f9dbbb;
  border: inset;
  border-color: black;
  border-width: 2px;
  width: 210px;
  margin
}
h1 {
  background-color: #27e1c1;
  margin-right: 10%;
  border: #27e1c1;
  width: 210px;
  text-align: center;
  border-style: outset;
  border-style: groove;
  border-color: #2e3840;
}
div {
  margin: auto;
  width: 200px;
}
button {
  margin-left: 80px;
  width: 60px;
  background-color: #27e1c1;
  border-radius: 4px;
  font-weight: bold;
}
